<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 需要在主配置文件配置entityManagerFactory和transactionManager的实现 -->

	<!-- 票务采购 -->
	<bean id="invoice4BuyDao" class="cn.bc.business.invoice.dao.hibernate.jpa.Invoice4BuyDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="invoice4BuyService" class="cn.bc.business.invoice.service.Invoice4BuyServiceImpl"
		p:invoice4BuyDao-ref="invoice4BuyDao"/>
		
	<!-- 票务销售 -->
	<bean id="invoice4SaleDao" class="cn.bc.business.invoice.dao.hibernate.jpa.Invoice4SaleDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="invoice4SaleService" class="cn.bc.business.invoice.service.Invoice4SaleServiceImpl"
		p:invoice4SaleDao-ref="invoice4SaleDao"/>
		
</beans>