<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 需要在主配置文件配置entityManagerFactory和transactionManager的实现 -->

	<!-- contract -->
	<bean id="contractDao" class="cn.bc.business.contract.dao.hibernate.jpa.ContractDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="contractService" class="cn.bc.business.contract.service.ContractServiceImpl"
		p:contractDao-ref="contractDao" />
		
	<!-- contract4Labour -->
	<bean id="contract4LabourDao" class="cn.bc.business.contract.dao.hibernate.jpa.Contract4LabourDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="contract4LabourService" class="cn.bc.business.contract.service.Contract4LabourServiceImpl" />	
	
	<!-- contractCharger -->
	<bean id="contract4ChargerDao" class="cn.bc.business.contract.dao.hibernate.jpa.Contract4ChargerDaoImpl"
		p:entityManagerFactory-ref="entityManagerFactory" />
	<bean id="contract4ChargerService" class="cn.bc.business.contract.service.Contract4ChargerServiceImpl"
		p:contract4ChargerDao-ref="contract4ChargerDao" />	
		
</beans>